html {
  height: 100%;
  width: 100%;
}
body{
  display: flex;
  flex-direction:column;
  height:100vh;
  align-items: center;


  background: linear-gradient(90deg, rgba(0,240,255,1) 0%, rgba(0,255,163,1) 100%); 
}
#create_child_btn{

  flex-shrink: 0;
  flex-grow:0;
  padding:0px;
  background-color:rgba(62,185,255,90);
  border-radius:30px;
  border-width: 2px;
  border-style:solid;
  border-color:black;
  height:40px;
  width:200px;
  font-size:1.3rem;
  font-weight: bold;
  margin-top: 20px;

}

#create_child_btn:hover{
  background-color:rgba(22, 144, 215, 0.9);
}